div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
	color: #000;
	display: block;
	position: relative;
	z-index: 1000;
	border: 1px solid #FFF;
	margin: 5vw;
	padding: 20px;
}
body {
	font-family: $font_primary;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
}
section, div {
	&:focus {
		outline: 0;
	}
}
a,input,button,select,textarea {
	transition: all ease .3s;
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}
.fw,.full {width:100%!important;float:left !important}
.nomtop {margin-top:0!important;}
.nombottom {margin-bottom:0!important;}
/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
.wrapper {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	&.narrow {
		max-width: 900px;
	}
	&.wide {
		max-width: 1350px;
	}
}
.flexwrap {
	@include flexgroup();
}
.flexcenter {
	@include flexgroup();
	@include flexbox-align-items(center);
	@include flexbox-justify(center);
}
.site {
	position: relative;
	overflow-x: hidden;
}
/* Site Header */
.site-header {
	position: fixed;
	left: 0;
	z-index: 500;
	width: 100%;
	.navbar {
		padding: 0 0;
		position: relative;
		@include mid {
			&:after {
				content:"";
				display: block;
				width: 30%;
				position: absolute;
				left: 0;
				bottom: 0;
				border-bottom: 1px solid #CCC;
			}
		}
		.wrapper {
			z-index: 10;
		}
	}
}
.site-logo {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 20px;
	font-size: 12px;
	line-height: 1.2;
	margin: 0 0;
	background-color: #FFF;
	width: 120px;
	height: 66px;
	text-align: center;
	padding: 15px 0 0;
	a {
		display: inline-block;
		width: 75px;
		position: relative;
		z-index: 15;
		img {
			width: 100%;
			height: auto;
		}
	}
	&:after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		left: 0;
		bottom: -30px;
		border-left: 60px solid transparent;
		border-right: 60px solid transparent;
		border-top: 30px solid white;
	}
}
#site-navigation {
	width: 80%;
	float: right;
	border-bottom: 1px solid #CCC;
	@include tab {
		&:after {
			transition: all ease .3s;
			opacity: 0;
		}
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	ul.menu {
		display: inline-block;
		float: right;
		position: relative;
		z-index: 10;
		@include mid {
			border-right:1px solid #CCC;
		}
		a {
			display: block;
			text-decoration: none;
			color: #FFF;
		}
	}
	ul.menu > li {
		float: left;
		position: relative;
		z-index: 10;
		@include mid {
			border-left: 1px solid #CCC;
			height: 65px;
		}
	}
	ul.menu > li > a {
		display: block;
		height: 100%;
		padding: 0 1.2rem;
		font-size: 13px;
		font-weight: 300;
		line-height: 1.1;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-align: center;
		position: relative;
		@include flexgroup-center();
		&:after {
			content:"";
			display: block;
			width: 100%;
			position: absolute;
			bottom: -1px;
			left: 0;
			z-index: 10;
			border-bottom: 2px solid transparent;
		}
		span {
			display: block;
			width: 100%;
		}
	}
	ul.menu > li.current_page_item > a,
	ul.menu > li:hover > a {
		background: rgba($blue,1);
	}

	ul.menu ul {
		max-height: 0;
		height: 0;
		opacity: 0;
		transform: translateY(-10px);
		transition: all ease .3s;
		overflow: hidden;
		position: absolute;
		left: -1px;
		width: 226px;
		// border-left: 1px solid #FFF;
		// border-right: 1px solid #FFF;
		// border-bottom: 1px solid #FFF;
		a {
			color: #FFF;
			padding: 6px 1.2rem;
			&:hover {
				color: rgba(255,255,255,.5);
			}
		}
	}
	ul.menu > li.menu-item-has-children:hover > a {
		&:after {
			border-bottom-color: $blue;
		}
	}	
	ul.menu > li.menu-item-has-children:hover > ul {
		max-height: unset;
		height: auto;
		opacity: 1;
		transform: translateY(1);
		margin-top: 11px;
		padding-top: 10px;
		padding-bottom: 10px;
		background: rgba($blue, 1);
	}
}	
#menu-toggle {display: none;}
@include gt($midwidth - 1px) {
	#site-navigation {
		border-bottom: none;
		position: fixed;
		top: 0;
		right: 0;
		padding-top: 50px;
		max-width: 350px;
		width: 100%;
		height: 100%;
		background: $primary;
		transition: all ease .3s;
		overflow-y: auto;
		transform: translateX(350px);
		z-index: -99;
		&.show {
			z-index: 99999;
			transform: translateX(0);
		}
		ul.menu {
			display: block;
			width: 100%;
			margin-bottom: 50px;
		}
		ul.menu > li {
			display: block;
			width: 100%;
			text-align: left;
		}
		ul.menu > li > a {
			text-align: left;
			padding: 1.5em 1.5em;
			font-size: 1rem;
			font-weight: 400;
			border-bottom: 1px solid rgba(255,255,255,.25);
		}
		ul.menu ul {
			max-height: 100%;
			height: auto;
			opacity: 1;
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			padding-left: 3.5em;
			padding-right: 2em;
			transform: none!important;
			margin-top: 0!important;
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid rgba(255,255,255,.25);
			a {
				padding: 1em 0;
			}
		}
		ul.menu > li.menu-item-has-children:hover > ul {
			background: transparent;
		}
	}
	#menu-toggle {
		display: block;
		width: 30px;
		height: 40px;
		border: none;
		position: absolute;
		top: 20px;
		right: 30px;
		-webkit-appearance: none;
		border-radius: 0;
		outline: none;
		box-shadow: none;
		background: transparent;
		z-index: 999999;
  	span.sr {display:none;}
  	span.bar {
  		display: block;
  		position: absolute;
  		top: 50%;
  		left: 0;
  		transform: translateY(-50%);
  	}
  	span.bar,
  	span.bar:before,
  	span.bar:after {
  		display: block;
  		transition: all ease .3s;
  		width: 100%;
  		height: 2px;
  		background: #FFF;
  	}
  	span.bar:before,
  	span.bar:after {
  		content:"";
  		position: absolute;
  	}
  	span.bar:before {
  		top: -10px;
  	}
  	span.bar:after {
  		top: 10px;
  	}
  	&.open {
  		span.bar {
  			transform: rotate(45deg);
  		}
  		span.bar:before {
  			top: 0;
  			opacity: 0;
  		}
  		span.bar:after {
  			transform: translateY(-10px) rotate(-90deg);
  		}
  	}
	}
}


/* Homepage */
body.home {
	background-color: #274e6c;
}
body.open-menu {
	.nav-overlay  {
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(0,0,0,.95);
		z-index: 22;
	}
}

.col-title {
	font-weight: 800;
	font-size: 45px;
	line-height: 1.2;
	text-transform: uppercase;
	margin: 0 0;
	position: relative;
}
.col-text {
	font-size: 17px;
	line-height: 1.5;
}

.home-row {
	position: relative;
	font-size: 17px;
	line-height: 1.5;
}

#home-row-1 {
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 5;
	.wrapper {
		z-index: 10;
	}
	.hero-caption {
		padding-top: 28vh;
		padding-bottom: 25vh;
		color: #FFF;
		@include flexgroup-center();
	}
	.hero-text {
		max-width: 700px;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.big-text {
		font-weight: 800;
		font-size: 45px;
		text-transform: uppercase;
		margin: 0 0;
		position: relative;
		&:after {
			content:"";
			display: block;
			width: 10%;
			border-bottom: 1px solid rgba(255,255,255,.5);
			margin: 2.5vw auto;
		}
	}
	.small-text {
		font-size: 16px;
		line-height: 1.5;
	}
	div.button {
		margin-top: 2.5vw;
	}
	.start-btn {
		display: inline-block;
		text-decoration: none;
		color: #FFF;
		background: rgba(#095197,0.85);
		text-transform: uppercase;
		font-size: 13px;
		line-height: 1.2;
		padding: 14px 15px;
		letter-spacing: 1px;
		&:hover {
			background: #095197;
			box-shadow: 0 17px 33px rgba(0,0,0,0.2);
		}
	}
	.broken-lines {
		width: 185px;
		height: 275px;
		position:absolute;
		left: 10vw;
		bottom: -185px;
		// border-top: 1px solid #FFF;
		// border-left: 1px solid #FFF;
		&:before, &:after {
			content:"";
			display: block;
			position: absolute;
		}
		&:before {
			width: 100%;
			height: 1px;
			@include broken_lines_white();
			opacity: 0.45;
		}
		&:after {
			width: 1px;
			height: 100%;
			@include broken_lines_white();
			opacity: 0.45;
		}
		span.arrow {
			display: block;
			width: 35px;
			height: 35px;
			position: absolute;
			top: 40%;
			left: -17px;
			z-index: 3;
			background-image: url(images/arrow-yellow.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

#home-row-2 {
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFF;
	top: 0;
	padding-top: 5vh;
	.div-bg {
		width: 100%;
		height: 120%;
		position: absolute;
		top: -15px;
		left: 0;
		background-position: top left;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.flexwrap {
		position: relative;
		z-index: 5;
	}
	.steelfabmap {
		background-position: left center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.wrapper {
		padding-top: 10vh;
		z-index: 10;
	}
	.big-text {
		font-weight: 800;
		font-size: 45px;
		text-transform: uppercase;
		margin: 0 0;
		position: relative;
	}
	.small-text {
		font-size: 16px;
		line-height: 1.5;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.fcol {
		width: 100%;
		&.left {
			@include tab {
				width: 60%;
				padding-bottom: 15vh;
			}
			.flexcenter {
				height: 100%;
			}
		}
		&.right {
			@include tab {
				width: 40%;
			}
		}
	}
	.subcol {
		width: 100%;
		padding: 0 10px;
		@include xs {
			width: 50%;
		}
		.inside {
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 95%, rgba(0,0,0,0.5) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 95%,rgba(0,0,0,0.5) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 95%,rgba(0,0,0,0.5) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
			height: 100%;
			padding-top: 5vh;
			padding-bottom: 20px;
			padding-left: 25px;
			padding-right: 25px;
		}
	}
	.textwrap {
		width: 100%;
	}

	.locations {
		@include tab {
			padding-left: 6vw;
		}
		ul {
			margin: 0 0;
			padding: 0 0;
			list-style: none;
		}
		ul > li {
			margin: 5px 0;
		}
		.num {
			font-size: 5rem;
			font-style: italic;
			font-weight: 600;
			text-align: center;
			color: #ECA72C;
		}
		.t1 {
			font-size: 15px;
			font-weight: 500;
			line-height: 1.4;
			text-transform: uppercase;
			text-align: center;
		}
		.titlediv {
			border-bottom: 1px solid #ECA72C;
			padding-bottom: 20px;
			margin-bottom: 20px;
			min-height: 165px;
		}
	}
}


#home-row-3 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 7vw;
	padding-bottom: 7vw;
	.titlediv {
		.row-title {
			margin: 0 0 10px;
			color: $primary;
			text-transform: uppercase;
			font-size: 3rem;
			font-weight: 800;
			line-height: 1.2;
			position: relative;
			span {
				display: inline-block;
				transition: all ease .3s;
			}
			span.middle {
				position: relative;
				z-index: 5;
			}
			.hr-left, .hr-right {
				position:absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 50%;
				border-top: 2px solid $primary;
				opacity: 0;
				&.show {
					display: inline-block;
					opacity: 1;
				}
			}
			.hr-left {
				left: 0;
			}
			.hr-right {
				right: 0;
			}
		}
		.subtext {
			font-size: 18px;
			font-weight: 500;
			line-height: 1.2;
		}
	}
	.titlediv {
		margin-bottom: 50px;
	}
	.commitments {
		.flexwrap {
			margin-left: -20px;
			margin-right: -20px;
		}
		.fcol {
			width: 100%;
			padding: 20px;
			@include tab {
				width: 33.333%;
			}
			.pad {
				padding: 3vw 4vw;
				border: 1px solid $primary;
				height: 100%;
			}
		}
		div.icon {
			margin-bottom: 20px;
			img {
				width: auto;
				height: 50px;
			}
		}
		.title {
			font-size: 18px;
			font-weight: 800;
			line-height: 1.2;
			text-transform: uppercase;
			color: $primary;
			margin: 0 0;
			&:after {
				content: "";
				display: block;
				width: 25%;
				height: 1px;
				background: #b3b3b4;
				margin: 20px auto;
			}
		}
		.description {
			font-size: 14px;
			line-height: 1.5;
			color: $primary;
		}
	}
}

#home-row-4 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #011B2B;
	.fcol {
		width: 100%;
		color: #FFF;
		position: relative;
		@include tab {
			width: 50%;
		}
	}
	.fcol.fl {
		padding-top: 7vw;
		padding-bottom: 5vw;
	}
	.fcol.fr {
		text-align: left;
		@include tab {
			text-align: right;
			padding-left: 2vw;
			@include flexgroup();
			@include flexbox-align-items(center);
		}
		.wrap {
			width: 100%;
			p:last-child {
				margin-bottom: 0;
			}
		}
		.topline,
		.bottomline {
			width: 1px;
			height: 30%;
			background: #FFF;
			position: absolute;
			right: 2px;
		}
		.topline {
			top: 0;
		}
		.bottomline {
			bottom: 0
		}
	}
	.col-title {
		margin-bottom: 20px;
	}
	.hexagons {
		max-width: 700px;
    width: 100%;
    margin: 0 auto;
		@include flexgroup();
		@include flexbox-justify(center);
	}
	.hexa-shape,
	.hexa-shape * {
		transition: all ease .3s;
	}
	.hexa-shape {
		display: block;
		width: 160px;
		height: 185px;
		position: relative;
		text-decoration: none;
		color: #FFF;
		float: left;
		margin: 0 10px;
		.hex-border {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			svg {
				width: 100%;
			}
		}
	
		.title {
			display: block;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			text-align: center;
			z-index: 20;
			font-size: 12px;
			font-weight: 500;
			line-height: 1.3;
			text-transform: uppercase;
			padding: 0 10px;
		}
	}
	.hexa {
		width: 100%;
    height: 100%;
		overflow: hidden;
		position: relative;
		.hex1 {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transform: rotate(60deg);
			overflow: hidden;
		}
		.hex2 {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			transform: rotate(-120deg);
		}
		div.img {
			width: 120%;
			height: 105%;
			position: absolute;
			top: -3%;
			left: -11%;
			transform: rotate(60deg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			filter: grayscale(0.5);
			&:before {
				content:"";
				display: block;
				width: 100%;
				height: 100%;
				background: rgba(0,63,99,0.85);
				position: absolute;
				top: 0;
				left: 0;
				transition: all ease .3s;
			}
		}
	}

	.hexa-shape:nth-child(4),
	.hexa-shape:nth-child(5) {
		@include tab {
			top: -25px;
		}
	}
	.hexa-shape:hover {
		div.img {
			filter: grayscale(0);
		}
		div.img:before {
			opacity: 0;
		}
		.border.sp1 {
			// width: 95px;
		}
		.hex-border {
			opacity: 1;
		}
		.hex-border polygon {
		  stroke-dasharray: 1000;
		  stroke-dashoffset: 1000;
		  animation: dash 1s linear forwards;
		}
	}

	.buttondiv {
		text-align: center;
		position: relative;
		top: -20px;
		&:before {
			content:"";
			display: block;
			width: 1px;
			height: 95px;
			@include broken_lines_white_v2();
			margin:0 auto;
			position: relative;
			top: -19px;
			opacity: 0.45;
		}
		a.btn {
			display: inline-block;
			text-decoration: none;
			background: $blue;
			color: #FFF;
			padding: 15px 20px;
			font-size: 16px;
			line-height: 1.2;
			text-transform: uppercase;
			border-radius: 0;
			letter-spacing: 1px;
			&:hover {
				background: $yellow;
			}
		}
	}
}


#home-row-5 {
	background-image: url('images/logo-fade.png');
	background-position: center;
	background-repeat:no-repeat;
	background-color: $gray;
	background-size: 80%;
	color: #FFF;
	text-align: center;
	padding-top: 5vw;
	padding-bottom: 5vw;
	.wrapper {
		max-width: 700px;
		width: 100%;
		margin:0 auto;
	}
	.col-title {
		margin: 0 0 15px;
	}
	.text {
		p:last-child {
			margin-bottom: 0;
		}
	}
	div.button {
		margin-top: 25px;
	}
}

.btn-outline {
	display: inline-block;
	text-decoration: none;
	color: #FFF;
	padding: 12px 25px;
	font-size: 16px;
	line-height: 1.2;
	text-transform: uppercase;
	border-radius: 0;
	letter-spacing: 1px;
	border: 1px solid #FFF;
	&:hover {
		background-color: $yellow;
		border-color: $yellow;
		color: #FFF;
		text-decoration: none;
	}
}

.btn-default {
	display: inline-block;
	text-decoration: none!important;
	background: $blue;
	color: #FFF;
	padding: 15px 20px;
	font-size: 16px;
	line-height: 1.2;
	text-transform: uppercase;
	border-radius: 0;
	letter-spacing: 1px;
	&:hover {
		background: $yellow;
		color: #FFF;
		text-decoration: none!important;
	}
}

#home-row-6 {
	@include backgroundImage(center);
	.wrapper {
		padding-top: 10vw;
		padding-bottom: 10vw;
		z-index: 10;
	}
	.fcol {
		width: 100%;
		@include tab {
			width: 40%;
		}
	}
	.col-title {
		color: $yellow;
	}
	div.text {
		color: #FFF;
	}
	div.button {
		margin-top: 25px;
	}
	.stripe-bg {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@include tab {
			width: 50%;
		}
		span {
			display: block;
			width: 33.333%;
			height: 100%;
			float: left;
		}
		span:nth-child(1) {
			background: $dark_blue;
			opacity: 0.9;
		}
		span:nth-child(2) {
			background: tint($dark_blue,10%);
			opacity: 0.8;
		}
		span:nth-child(3) {
			background: tint($dark_blue,15%);
			opacity: 0.6;
		}
	}
}

#home-row-7 {
	background: #FFF;
	.top {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.col-title {
		text-decoration: none;
		color: $primary;
		margin: 0 0;
		text-align: center;
	}
	.gallery {
		@include flexgroup();
		.photo {
			display: block;
			width: 50%;
			position: relative;
			overflow: hidden;
			cursor: pointer;
			@include tab {
				width: 25%;
			}
			.image {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				@include backgroundImage(center);
				transition: all ease .3s;
				margin: 0 0;
				padding: 0 0;
			}
			img {
				width: 100%;
				height: auto;
				float: left;
			}
			span {
				display: block;
				width: 100%;
				transition: all ease .3s;
			}
			.caption {
				width: 100%;
				height: 0%;
				position: absolute;
				bottom: -30px;
				left: 0;
				opacity: 0;
				z-index: 15;
				color: #FFF;
				background: rgba($dark_blue,0.85);
				text-align: center;
				.info {
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					font-size: 13px;
					line-height: 1.3;
					text-transform: uppercase;
					padding: 20px;
				}
			}
		}
		a.photo:hover {
			.caption {
				opacity: 1;
				bottom: 0;
				height: 100%;
			}
		}
	}
}

@keyframes dash {
  to {
  	opacity: 1;
    stroke-dashoffset: 0;
  }
}

@include gt($midwidth) {
	#home-row-4 {
    padding-top: 10px;
    padding-bottom: 50px;
		.fcol {
			width: 100%!important;
		}
		.fcol.fr {
			text-align: center;
			padding-left: 20px;
			padding-right: 20px;
		}
		.hexa-shape {
			margin: 10px 10px;
		}
	}
}
@include gt($tabwidth) {
	#home-row-4 {
		.hexa-shape:nth-child(4),
		.hexa-shape:nth-child(5) {
			top: -40px;
		}
	}
}
@include gt($xswidth) {
	#home-row-4 {
		.hexagons {
			max-width: 100%;
		}
		.hexa-shape {
			width: 145px;
			height: 170px;
			margin: 8px 8px;
		}
		.hexa-shape:nth-child(4) {
			top: 0;
		}
		.buttondiv:before {
			height: 60px;
			top: -10px;
		}
	}
}

body.scrolled {
	@include tab {
		#site-navigation {
			&:after {
				content:"";
				display: block;
				width: 100%;
				height: calc(100% - 1px);
				position: absolute;
				top: 0;
				right: 20px;
				opacity: 1;
				background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
				background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
				background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
			}
		}
	}
}

